body{
    background-image: url("../pics/Forest.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    color: aliceblue;
    font-weight: bold;
    font-size: larger;
}

#home-nav img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-bottom: 8px; 
}

.navbar-brand img{
    width: 100px;
}

#explorelogo{
    background: none;
}
